[user]
	email = kelsey.zapata@scality.com
	name = Kelsey Zapata
	signingkey = kelsey.zapata@scality.com
[core]
	excludesfile = /home/kelsey/dotfiles/.gitignore_global
[init]
	templatedir = ~/dotfiles/.git_template
[commit]
	gpgsign = true
